<!DOCTYPE html>
<html lang='de'>
<head>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css' />
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
  <link rel='stylesheet' href='subscribe.css'>

  <title>Subscribe</title>

</head>

<body>
<div class='frame'>
  <div id='button_open_envelope'>
    Subscribe
  </div>
  <div class='message'>
    <form method='post' action='/subscribe' style='display: flex; flex-wrap: wrap; justify-content: space-between'>
      <input type='text' name='name' id='name' class='boxElement' placeholder=' Name* ' required>

      <input type='email' name='email' id='email' class='boxElement' placeholder=' Email* ' required
             pattern='^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$'>

      <label class="toggleButton">
        <input type="checkbox">
        <div>
          <svg viewBox="0 0 44 44">
            <path d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758" transform="translate(-2.000000, -2.000000)"></path>
          </svg>
        </div>
      </label>

      <!--      <label class='checkboxElement'>-->
      <!--        <input type='checkbox' value='woelflinge' name='v'>-->
      <!--        Wölflinge-->
      <!--        <div class='help'>-->
      <!--          <div class='question'>?</div>-->
      <!--          <div class='popup'><h3>Wölflinge</h3>-->
      <!--            <p>Verteiler für alle Neuigkeiten zur Gruppenstunden und Veranstaltung deiner Wölflingsmeute.</p></div>-->
      <!--        </div>-->
      <!--      </label>-->


      <input type='submit' class='boxElement' value='Send' id='send'>
    </form>
  </div>
  <div class='bottom'></div>
  <div class='left'></div>
  <div class='right'></div>
  <div class='top'></div>


  <script>
    const checkboxData = [{
      name: 'Wölflinge',
      description: 'Verteiler für alle Neuigkeiten zur Gruppenstunden und Veranstaltung deiner Wölflingsmeute.',
      user: 'woelflinge'
    },
      {
        name: 'Jungpfadfinder',
        description: 'Verteiler für alle Neuigkeiten zur Gruppenstunden und Veranstaltung deiner Jungpfadfindersippe.',
        user: 'jungpfadfinder'
      },
      {
        name: 'Pfadfinder',
        description: 'Verteiler für alle Neuigkeiten zur Gruppenstunden und Veranstaltung deiner Pfadfindersippe.',
        user: 'pfadfinder'
      },
      {
        name: 'Rover',
        description: 'Verteiler für alle Neuigkeiten zur Gruppenstunden und Veranstaltung deiner Roverrunde.',
        user: 'rover'
      },
      {
        name: 'Ehemalige',
        description: 'Verteiler für alle Neuigkeiten und Veranstaltung für Ehemalige Mitglieder und Interessierte.',
        user: 'ehemalige'
      }];
    $(document).ready(function() {
      $('.frame').click(function() {
        $('.top').addClass('open');
        $('#button_open_envelope').addClass('hidden');
        $('.message').addClass('pull');
      });
    });

    function windowResize() {
      const envelope = window.innerWidth * 0.4;
      $('.right').css('border-right', `${envelope > 300 ? 300 : envelope}px solid #337efc`)
        .css('left', `${envelope > 300 ? 300 : envelope}px`);
      $('.left').css('border-left', `${envelope > 300 ? 300 : envelope}px solid #337efc`);
      $('.top')
        .css('border-right', `${envelope > 300 ? 300 : envelope}px solid transparent`)
        .css('border-left', `${envelope > 300 ? 300 : envelope}px solid transparent`);
      $('.bottom').css('width', `${envelope * 2 > 600 ? 600 : envelope * 2}px`);
      $('.frame')
        .css('width', `${envelope * 2 > 600 ? 600 : envelope * 2}px`)
        .css('margin-top', `${window.innerHeight < 600 ? 50 : 250}px`);
      $('.boxElement').css('width', `${envelope * 2 - 20 > 570 ? 570 : envelope * 2 - 20}px`);
      $('.checkboxElement').css('width', `${envelope - 20 > 275 ? 275 : envelope - 20}px`);
      $('#send').css('width', `${envelope * 2 - 10 > 580 ? 580 : envelope * 2 - 10}px`);
      $('.top.open').css('display', window.innerHeight < 600 ? 'none' : 'block');
    }

    windowResize();
    window.onresize = windowResize;
  </script>
</div>
</body>
</html>
